<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <title>My Forum</title>
  </head>
  
  <body>
    
    <header>
      <a href="/">
        <h1>My Forum</h1>
      </a>
    </header>

    <nav class="nav">
      <a href="/">Home</a>

      <a href="/signup">Sign up</a>
      <a href="/login">Login</a>

    </nav>
    
      
    {{{body}}}

  </body>

</html>