<nav class="nav">
  <a href="/home">Home</a><a href="/signUp">Sign up</a>
  <a href="/login">Login</a>
</nav>
<div id='container' style="text-align:center;">
  <h2>Eat Healthfully and Enjoy It!</h2>
  <p>A healthy eating plan that helps you manage your weight includes a variety of foods you may not have considered. If "healthy eating" makes you think about the foods you can't have, try refocusing on all the new foods you can eat—</p>
  

  <div style="text-align:justify; display:inline;">
  <img src="http://3u0gdv3vukuf15vp9312siwh2cg.wpengine.netdna-cdn.com/wp-content/uploads/2014/06/aa-Healthy-Eating-500x335.jpg" alt="">
  <p>
    Fresh fruits ― don't think just apples or bananas. All fresh fruits are great choices. Be sure to try some "exotic" fruits, too. How about a mango? Or a juicy pineapple or kiwi fruit! When your favorite fresh fruits aren't in season, try a frozen, canned, or dried variety of a fresh fruit you enjoy. One caution about canned fruits is that they may contain added sugars or syrups. Be sure and choose canned varieties of fruit packed in water or in their own juice.</p>
    
    <p>Fresh vegetables ― try something new. You may find that you love grilled vegetables or steamed vegetables with an herb you haven't tried like rosemary. You can sauté (panfry) vegetables in a non-stick pan with a small amount of cooking spray. Or try frozen or canned vegetables for a quick side dish — just microwave and serve. When trying canned vegetables, look for vegetables without added salt, butter, or cream sauces. Commit to going to the produce department and trying a new vegetable each week.</p>
   
    <p>Calcium-rich foods ― you may automatically think of a glass of low-fat or fat-free milk when someone says "eat more dairy products." But what about low-fat and fat-free yogurts without added sugars? These come in a wide variety of flavors and can be a great dessert substitute for those with a sweet tooth.</p>
    
    <p>A new twist on an old favorite ― if your favorite recipe calls for frying fish or breaded chicken, try healthier variations using baking or grilling. Maybe even try a recipe that uses dry beans in place of higher-fat meats. Ask around or search the internet and magazines for recipes with fewer calories ― you might be surprised to find you have a new favorite dish!</li>
  </p>
  
</div>
    
      

  
