<form action="/users" method="POST" style="clear: left; text-align: center;">
	<label for="username">Username
		<input type="text" name="username" ><br>
	</label>
	<label for="password">Password
		<input type="password" name="password" ><br>
	</label>
	<input type="submit" name="submit" value="submit">
</form>