<form action='/posts' name="_method" value="POST" style="clear: left; text-align: center;">
	<TEXTAREA NAME="SpecialRequest" ROWS="3" COLS="25">
		Please enter your special comments
	</TEXTAREA>
	<br><br>
	<INPUT TYPE="submit">
	<INPUT TYPE="reset">
</form>
<ul>
	<li>posted date</li>
	<li>user name</li>
</ul>