<nav class="nav">
      <a href="/topics">Topics</a>
      <a href="/logout">Logout</a>
</nav>
<div id="container">
	<form action="/topics" method="POST" style="clear: left; text-align: center;">
	
		<label for="title">Title<br>
			<input type="text" name="title"><br>
		</label><br>
		<label for="img">Enter image url<br>
			<input type="text" name="img">
		</label><br>
		<input type="submit" value="Submit">

	</form>
	
</div>