<div id="container">
	<form action="/topics" method="POST" style="clear: left; text-align: center;">
	
	<label for="title">Title<br>
		<input type="text" name="title"><br>
	</label><br>

	<input type="submit" value="Submit">

</form>
	
</div>